{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}

{% if error_message %}
    <div class="container mt-3">
        <div class="alert alert-danger alert-dismissible fade show text-center " role="alert">
            ⛔ {{error_message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
{% endif %}

{% if success_message %}
    <div class="container mt-3">
        <div class="alert alert-success alert-dismissible fade show text-center " role="alert">
            ✅ {{success_message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
{% endif %}

<div class="container py-5 col-md-8 col-lg-6">
    <div class="tab-pane" id="password">
        <div class="d-flex justify-content-center align-items-center" style="min-height: 40vh;">
            <div class="card border p-5 shadow-sm " style="max-width: 500px;">
                <form method="POST" action="/password_submit">
                    <div class="mb-3">
                        <label for="currentPassword" class="form-label">Current Password</label>
                        <input type="password" class="form-control" id="currentPassword" name="currentpassword" required>
                    </div>
                    <div class="mb-3">
                        <label for="newPassword" class="form-label">New Password</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword" required>
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirm New Password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
                    </div>
                    <p class="text-muted fs-6">💡 <small>Passwords should be at least 8 characters long with a mix of character types</small></p>
                    <button type="submit" href="/password_submit" class="btn btn-white border-success text-success mt-3 w-100">Update Password</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    setTimeout(function() {
        let alert = document.querySelector(".alert");
        if (alert) {
            alert.style.display = "none";
        }
    }, 2500);
</script> 


{% endblock %}
