{% extends "base.html" %}

{% block title %}Access Denied{% endblock %}

{% block content %}


<!-- If the user tries to access a page they don’t have permission for, show a message on this page and then redirect them back to the issue list -->
<div class="container mt-3">
    <div class="alert alert-danger mt-3 text-center" role="alert">
        ⛔ You do not have permission to access this page, or the page does not exist.      
    </div>
</div>
<script>
    setTimeout(function() {
        window.location.href = "{{ next_page }}";  
    }, 2500);
</script>

{% endblock %}
